---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";
import styles from "./About.module.scss";

interface Props {
  about: CollectionEntry<"about">;
}

const { about } = Astro.props;
---

<div class={styles.about} id={about.id}>
  <Image
    class={styles.image}
    src={`/images/${about.data.image}`}
    alt=""
    width="1000"
    height={about.data.imageHeight}
  />
  <div class={styles.grid}>
    <div class={styles.summary}>
      {about.data.summary.map((p) => <p>{p}</p>)}
      <ul class={styles.links}>
        {
          about.data.links.map((link) => (
            <li>
              <a
                href={link.url}
                target="_blank"
                title={link.title}
                set:html={link.svg}
              />
            </li>
          ))
        }
      </ul>
    </div>
    <div class={styles.skills}>
      <h2 class={styles.title}>Skills</h2>
      {
        about.data.skills.map((skill) => (
          <div>
            <h3 class={styles.type}>{skill.type}</h3>
            <div class={styles.skill}>{skill.skills.join(", ")}</div>
          </div>
        ))
      }
    </div>
  </div>
</div>
